<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">お問い合わせ<br>(準備中)</a>
    <a class="link link-hover">利用規約<br>(準備中)</a>
    <a class="link link-hover">プライバシーポリシー<br>(準備中)</a>
  </nav> 
</footer>