<h1>Oko_logとは</h1>
<p>日常で感じる怒りを記録（アンガーログ）するアプリです。<br>
怒りを記録・視覚化することで、怒りをコントロールする手助けをします。</p>
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
  <%= link_to "新規登録する", new_user_registration_path %>
</button>
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">ゲストログイン</button>