<div class="container m-4">
  <div class"flex flex-row w-full">
    <%= link_to 'アンガーログを記録する', new_anger_log_path, class: "btn w-1/2 item-cneter bg-green text-white" %>
  </div>
</div>

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-light-green">
  <div class="mx-auto max-w-2xl">
    <div class="text-center my-4">
      <div class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white ">
        <%= t('.one_week_record') %>
      </div>
    </div>
    <%= render 'anger_logs/anger_logs', anger_logs: @anger_logs %>
  </div>
</div>
