<p>こんにちは。 <%= @resource.name %>さん</p>
<p>Oko_logをご利用いただきありがとうございます</p>

<p>アカウントの認証を受付しました</p>
<p>下記のリンクからアカウントの認証を行なってください</p>

<p><%= link_to 'アカウントを認証する', confirmation_url(@resource, confirmation_token: @token) %></p>
