<p>こんにちは <%= @resource.name %>さん!</p>
<p>いつもOko_logをご利用いただきありがとうございます。</p>

<p>パスワードの変更を受付いたしました。下記リンクよりパスワードの再設定を行なってください</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

